#player-1-card {
    background-color: #EF0A74;
    color: white;
    float:right;
}

#player-2-card {
    background-color: #EF0A74;
    color: white;
    float:right;
}

#player-3-card {
    background-color: #EF0A74;
    color: white;
    float:right;
}

#player-4-card {
    background-color: #EF0A74;
    color: white;
    float:right;
}