{% extends 'base.html' %} {% block content %}


    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Weclome To The Riddle Game</h1>
          <h2 class="masthead-subheading mb-0">Press The Button Below To Get Started</h2>
          <a href="{{url_for('setup')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Start</a>
        </div>
      </div>
     
    </header>

    
</html>
{% endblock %}