<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="/static/startbootstrap-one-page-wonder-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/startbootstrap-one-page-wonder-gh-pages/css/one-page-wonder.min.css" rel="stylesheet">
    <title>Quiz Game</title>
</head>


<body>
    <h1>Welcome To The Quiz Game</h1>  
    
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom ">
        <ul>
            <li><a href="{{ url_for('index')}}">Quiz</a></li>
            <li><a href="{{ url_for('leaderboards')}}">Leadersboards</a></li>
        </ul>
    </nav>
    
    
</body>