{% extends 'base.html' %} {% block content %}
<main>
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
            <h1>Leaderboard</h1>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/" role="button">Play New Game</a>
            <h4> {{ game_end_text |safe }}</h4>
   
        </div>
      </div>
    
   <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(1) %}
            {% for d in data %
            <tr>
                <td>{{ d.username }}</td>
                <td>{{ d.score }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

     
</main>
{% endblock %}
