<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="/static/startbootstrap-one-page-wonder-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/startbootstrap-one-page-wonder-gh-pages/css/one-page-wonder.min.css" rel="stylesheet">
    <title>Quiz Game</title>
</head>


<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index')}}">Home</a>
        <a class="navbar-brand" href="{{ url_for('leaderboards')}}">Leadersboards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Please Select Your Number Of PLayers</h1>
          <div class="text-center text-white">
          <form method="POST">
            <div class="col-xs-12 col-md-12">
                {% for i in range(players) %}
                <input type="text" class="text-input" id="player-{{ i+1 }}-username" name="player-{{ i+1 }}-username" placeholder="Player {{ i+1 }} username ..."> {% endfor %}
                <button type="submit" class="btn btn-primary">Start Game</button>
            </div>
        </form>  
        </div>
        </div>
      </div>
     
    </header>
    
</body>